@use "sass:color";
@use "sass:meta";
@use "import/reset";
@use "import/variables";
@use "import/buttons";
@use "import/forms";
@use "import/lists";
@use "import/tables";
@use "import/mixin";
@use "import/helpers";

//@import 'grid/grid-bootstrap';
//@use "import/grid";
@use "grid-reflex/reflex";

@use "import/wordpress";

@include mixin.loadify(init);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  background-color: variables.$base-background-color;
  color: variables.$base-font-color;
  font-family: variables.$font-family-base;
  font-size: variables.$base-font-size;
  font-weight: variables.$fnorm;
  line-height: variables.$base-line-height;
  min-width: 320px;
  transition: variables.$base-transition;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$heading-line-height;
  margin: 0 0 variables.$small-spacing;
}
p,
pre {
  margin: 0 0 variables.$small-spacing;
}
a {
  transition: variables.$base-transition;
  text-decoration: none;
  color: variables.$action-color;
  &:active,
  &:focus,
  &:hover {
    color: color.adjust(variables.$action-color, $lightness: -15%);
  }
  &:active,
  &:focus {
    color: color.adjust(variables.$action-color, $lightness: 15%);
    outline: none;
  }
}
hr {
  margin: variables.$base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: variables.$base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}

.container {
  position: relative;
  max-width: variables.$width;
}

.main--header {
  height: 115px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  padding-top: 60px;
  .header--logo {
    padding: 0 0 0 15px;
    span,
    a {
      font-size: 26.417px;
      line-height: 1.211;
      transform: matrix( 1.14591700133869,1.5684730159718e-16,0,1.13561470215463,0,0);
      font-weight: bold;
      color: variables.$black;
      position: relative;
      z-index: 6;
      &:before {
        display: inline-block;
        content: '';
        width: 34px;
        height: 34px;
        background-color: variables.$orange;
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 17px;
      }
    }
  }
}

.header--nav {
  padding: 0;
}

.header--menu {
  @include helpers.clearfix;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 25px;
    &.active {
      a {
        color: variables.$orange;
        &:active,
        &:focus,
        &:hover {
          color: color.adjust(variables.$orange, $lightness: -15%);
        }
        &:active,
        &:focus {
          color: color.adjust(variables.$orange, $lightness: 15%);
          outline: none;
        }
      }
    }
  }
  a {
    font-size: 15px;
    text-decoration: none;
    color: variables.$black;
    font-weight: 600;
    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
      color: color.adjust(variables.$black, $lightness: -15%);
      .word,
      .char {
        animation-delay: calc(var(--char-index) * -0.05s);
        animation-direction: normal;
        animation-duration: 1600ms;
        animation-iteration-count: infinite;
        animation-name: header-menu-fall;
        animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        animation-fill-mode: forwards;
        display: inline-block;
        position: relative;
        transform-origin: 50% 100%;
        z-index: 1;
      }
    }
    &:active,
    &:focus {
      color: color.adjust(variables.$black, $lightness: 15%);
      outline: none;
    }

  }
}
@keyframes header-menu-fall {
  0% {
    transform: rotateY(-25deg);
  }
  25% {
    transform: translateY(2%) rotateY(25deg);
  }
  50% {
    transform: rotateY(-25deg);
  }
  75% {
    transform: translateY(4%) rotateY(25deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}

.header--contact {
  text-align: right;
  padding: 0 15px 0 0;
  .header--contact-button {
    display: inline-block;
    width: 200px;
    height: 53px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    color: variables.$blue;
    border: 1px solid variables.$gray-medium;
    background-color: transparent;
    border-radius: 22px;
    line-height: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
    transition: .2s transform ease-in-out;
    will-change: transform;
    position: relative;
    overflow: hidden;
    &:after {
      background-color: variables.$blue;
      border-radius: 22px;
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:hover {
      border: 2px solid transparent;
      color: #fff;
      transform :scale(1.05);
      will-change: transform;
      &:after{
        transform: translate(0, 0);
      }
    }

    &.header--contact-button__active {
      font-size: 0;
      width: 53px;
      height: 53px;
      background-image: url(../img/bg/header--contact-button.png);
      &:hover {
        &:after {
          background-image: url(../img/bg/header--contact-button-close.png);
        }
      }
    }
  }
}

.section {
  overflow: hidden;
  background-color: variables.$base-background-color;
}

#home {
  .home--title {
    font-weight: bold;
    font-size: 140px;
    text-align: center;
    color: variables.$blue;
    line-height: 1;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    span {
      display: block;
    }
  }
  .home--description {
    text-align: center;
    margin-bottom: 14px;
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    z-index: 4;
  }
  .home-bg-element--1,
  .home-bg-element--2,
  .home-bg-element--3,
  .home-bg-element--4,
  .home-bg-element--5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
  .home-bg-element--1 {
    //width: 195px;
    //height: 195px;
    //width: 10.16vw;
    //width: 18.06vh;
    //height: 18.06vh;
    //top: 27.69vh;
    //left: 64.79vw;
    //width: 458px;
    //height: 458px;
    width: 42.41vh;
    aspect-ratio: 1 / 1;
    //height: 42.41vh;
    //left: 59.06vw;
    //top: 15.83vh;
    left: 0;
    top: 0;
    //background-image: url(../img/bg/home-bg-element--1.png);
    background-image: url(../img/bg/home-bg-element--1.svg);
    z-index: -1;
  }
  .home-bg-element--2 {
    //width: 839px; // 763 real
    //height: 365px;
    //width: 43.7vw;
    //width: 77.69vh;
    //height: 33.8vh;
    //top: 37.04vh;
    //left: -7.04vh;
    //width: 855px;
    //height: 400px;
    width: 44.53vw;
    aspect-ratio: 855 / 400;
    //height: 37.04vh;
    left: -4.27vw;
    top: 35.56vh;
    z-index: 2;
    //background-image: url(../img/bg/home-bg-element--2.png);
    background-image: url(../img/bg/home-bg-element--2.svg);
  }
  .home-bg-element--3 {
    //width: 254px;
    //height: 254px;
    //width: 13.23vw;
    //width: 23.52vh;
    //height: 23.52vh;
    //top: 55.56vh;
    //left: 19.01vw;
    //width: 480px;
    //height: 480px;
    width: 44.44vh;
    aspect-ratio: 1 / 1;
    //height: 44.44vh;
    left: 13.13vw;
    top: 46.11vh;
    z-index: 3;
    //background-image: url(../img/bg/home-bg-element--3.png);
    background-image: url(../img/bg/home-bg-element--3.svg);
  }
  .home-bg-element--4 {
    //width: 325px;
    //height: 535px; // real 375
    //width: 16.93vw;
    //width: 30.09vh;
    //height: 49.54vh;
    //bottom: -14.81vh;
    //left: 66.35vw;
    //width: 325px;
    //height: 535px;
    width: 16.93vw;
    aspect-ratio: 325 / 535;
    //height: 49.54vh;
    //left: 64.95vw;
    right: 18.13vw;
    //top: 64.44vh;
    bottom: -13.98vh;
    z-index: -2;
    //background-image: url(../img/bg/home-bg-element--4.png);
    background-image: url(../img/bg/home-bg-element--4.svg);
  }
  .home-bg-element--5 {
    //width: 117px;
    //height: 116px;
    //width: 6.09vw;
    //width: 10.83vh;
    //height: 10.74vh;
    //bottom: 9.26vh;
    //left: 79.17vw;
    //width: 119px;
    //height: 118px;
    width: 11.02vh;
    aspect-ratio: 1 / 1;
    //height: 10.93vh;
    //left: 78.85vw;
    right: 15vw;
    //top: 80.28vh;
    bottom: 8.8vh;
    z-index: -1;
    //background-image: url(../img/bg/home-bg-element--5.png);
    background-image: url(../img/bg/home-bg-element--5.svg);
  }
  &.active {
    .home-bg-element--1 {
      animation: home-bg-element-1 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.2s alternate forwards;
    }
    .home-bg-element--2 {
    }
    .home-bg-element--3 {
      //animation-name: home-bg-element-3;
      //animation-duration: 10s;
      //animation-timing-function: ease;
      //animation-delay: 0s;
      //animation-iteration-count: infinite;
      //animation-direction: normal;
      //animation-fill-mode: none;
      animation: home-bg-element-3 3s ease-out infinite;
    }
    .home-bg-element--4 {
      animation-name: home-bg-element-4;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 1s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .home-bg-element--5 {
      animation-name: home-bg-element-5;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

  }
}
@keyframes home-bg-element-1 {
  0% {
    transform: translateY(0) translateX(0);
  }
  100% {
    transform: translateY(15.83vh) translateX(59.06vw);
    //transform: translateY(100px) translateX(-300px);
  }
}
@keyframes home-bg-element-3 {
  //0%{
  //  transform: translate(0);
  //}
  //10%{
  //  transform: translate(-2px,-2px);
  //}
  //20%{
  //  transform: translate(2px,-2px);
  //}
  //30%{
  //  transform: translate(-2px,2px);
  //}
  //40%{
  //  transform: translate(2px,2px);
  //}
  //50%{
  //  transform: translate(-2px,-2px);
  //}
  //60%{
  //  transform: translate(2px,-2px);
  //}
  //70%{
  //  transform: translate(-2px,2px);
  //}
  //80%{
  //  transform: translate(-2px,-2px);
  //}
  //90%{
  //  transform: translate(2px,-2px);
  //}
  //100%{
  //  transform: translate(0);
  //}
  50% {
    transform: translate(0, 20px);
  }
}
@keyframes home-bg-element-4 {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes home-bg-element-5 {
  0%{
    background-position: 100% 100%;
    width: 0px;
    height: 0px;
  }
  100%{
    width: 11.02vh;
    height: 11.02vh;
  }
}
#about {
  .about--title {
    font-size: 30px;
    color: variables.$blue;
    font-weight: 200;
  }
  .about--content {
    .about--content-title {
      font-weight: bold;
      font-size: 48px;
      line-height: 60px;
      margin-bottom: 40px;
    }
    p {
      margin-bottom: 35px;
      font-size: 15px;
      color: variables.$gray;
    }
  }
  .about--content-partners {
    span {
      text-transform: uppercase;
      display: inline-block;
      width: 150px;
      font-size: 14px;
      color: rgb(161, 161, 161);
      font-weight: bold;
      line-height: 1.286;

    }
    .partners--list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
    }
    .partners--item {
      margin-right: 40px;
      height: 31px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      a {
        &:hover {
          i {
            color: variables.$orange;
          }
        }
      }
      i {
        font-size: 30px;
        line-height: 1.2;
        color: variables.$black;
      }
    }
  }
  .about--provide {

  }
  .about--provide-title {
    font-size: 30px;
    color: variables.$blue;
    font-weight: 200;
    margin-bottom: 65px;
  }
  .about--provide-list {
    font-size: 15px;
    color: variables.$gray;

  }
  .about--provide-item {
    margin-bottom: 50px;
    padding-left: 65px;
    position: relative;
    height: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 36px;
      height: 42px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:nth-child(1) {
      background-image: url(../img/content/about--provide-item-1.png);
    }
    &:nth-child(2) {
      background-image: url(../img/content/about--provide-item-2.png);
    }
    &:nth-child(3) {
      background-image: url(../img/content/about--provide-item-3.png);
    }
  }
  .about-bg-element--1,
  .about-bg-element--2,
  .about-bg-element--3,
  .about-bg-element--4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
  .about-bg-element--1 {
    //width: 195px;
    //height: 195px; // real 140
    //width: 10.16vw;
    //width: 18.06vh;
    //height: 18.06vh;
    //left: 72.66vw;
    //top: -5.09vh;
    //width: 458px;
    //height: 458px;
    width: 42.41vh;
    aspect-ratio: 1 / 1;
    //height: 42.41vh;
    left: 65.21vw;
    top: -15.93vh;
    z-index: -1;
    //background-image: url(../img/bg/about-bg-element--1.png);
    background-image: url(../img/bg/about-bg-element--1.svg);
  }
  .about-bg-element--2 {
    //width: 633px;
    //height: 359px; // real 251
    //width: 32.97vw;
    //width: 58.61vh;
    //height: 33.24vh;
    //left: 69.01vw;
    //bottom: -10vh;
    //width: 633px;
    //height: 359px;
    width: 32.97vw;
    aspect-ratio: 633 / 359;
    //height: 33.24vh;
    //left: 68.96vw;
    right: -1.93vw;
    //top: 77.13vh;
    bottom: -10.37vh;
    z-index: -1;
    //background-image: url(../img/bg/about-bg-element--2.png);
    background-image: url(../img/bg/about-bg-element--2.svg);
  }
  .about-bg-element--3 {
    //width: 115px;
    //height: 252px; // real 182
    //width: 5.99vw;
    //width: 10.65vh;
    //height: 23.33vh;
    //left: 27.08vw;
    //bottom: -6.48vh;
    //width: 236px;
    //height: 374px;
    width: 12.29vw;
    aspect-ratio: 236 / 374;
    //height: 21.85vh;
    left: 24.32vw;
    //top: 76.94vh;
    bottom: -11.57vh;
    z-index: -1;
    //background-image: url(../img/bg/about-bg-element--3.png);
    background-image: url(../img/bg/about-bg-element--3.svg);
  }
  .about-bg-element--4 {
    //width: 240px;
    //height: 241px; // real 110
    //width: 12.5vw;
    //width: 22.22vh;
    //height: 22.31vh;
    //left: 19.79vw;
    //bottom: -12.13vh;
    //width: 454px;
    //height: 454px;
    width: 42.04vh;
    aspect-ratio: 1 / 1;
    //height: 42.04vh;
    left: 15.31vw;
    //top: 82.22vh;
    bottom: -24.17vh;
    z-index: -2;
    //background-image: url(../img/bg/about-bg-element--4.png);
    background-image: url(../img/bg/about-bg-element--4.svg);
  }
  &.active {
    .about-bg-element--1 {
      animation-name: about-bg-element-1;
      animation-duration: 8s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
      //animation-fill-mode: forwards;
    }
    .about-bg-element--2 {

    }
    .about-bg-element--3 {
    }
    .about-bg-element--4 {
      animation-name: about-bg-element-4;
      animation-duration: 16s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
      //animation-fill-mode: forwards;
    }
  }
}
@keyframes about-bg-element-1 {
  0%, 100% {
    transform: translateY(-8%);
  }
  50%{
    transform: translateY(8%);
  }
}
@keyframes about-bg-element-2 {

}
@keyframes about-bg-element-2 {

}
@keyframes about-bg-element-4 {
  0% {
    transform: translate(0) scale(0.5);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translate(200px) scale(1);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate(-200px) scale(1);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(0) scale(0.5);
    animation-timing-function: ease-in;
  }
}
//@keyframes animate-svg-stroke-1 {
//  to {
//    stroke-dashoffset: 100;
//  }
//}
@keyframes animate-svg-stroke {
  0% {
    transform: translate(0) scale(1) rotate(3deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translate(-10vw) scale(1.3) rotate(-3deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-30vw) scale(1.5) rotate(5deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate(-10vw) scale(1.2) rotate(-5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(0) scale(1.1) rotate(1deg);
    animation-timing-function: ease-out;
  }
}

.tns-outer {
  width: 100%;
}

#jobs {
  .jobs--animated-svg {
    animation: animate-svg-stroke 16s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
    animation-iteration-count: infinite;
    fill: none;
    stroke: variables.$orange;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0 3;
    stroke-dashoffset: 0;
    position: absolute;
    top: 50%;
    left: 0;
    //height: 264px;
    //height: 24.44vh;
    margin-top: -12.22vh;
  }
  .jobs--title {
    color: variables.$blue;
    font-weight: bold;
    font-size: 36px;
    padding: 0 15px;
    margin-bottom: 20px;
    line-height: 0.6;
  }
  .jobs--carousel {
    //width: 100%;
    padding: 0;
  }
  .jobs--carousel-nav {
    padding: 0;
    text-align: right;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    width: 100%;
    .jobs--carousel-nav-prev,
    .jobs--carousel-nav-next {
      width: 21px;
      height: 10px;
      padding: 0;
      background-color: #ccc;
      background-position: center;
      border-radius: 0;
      mask-image: url(../img/bg/carousel-nav-arrow.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      &:hover {
        background-color: variables.$orange;
      }
    }
    .jobs--carousel-nav-prev {
      margin-right: 10px;
    }
    .jobs--carousel-nav-next {
      transform: scaleX(-1);
      margin-left: 10px;
    }
  }
  .jobs--carousel-item {
    padding-top: 100px;
    transition: 0.3s padding ease-out;
    .jobs--carousel-item-inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: center;
      width: 73.59%;
      margin: 0 auto;
    }
  }
  .jobs--carousel-item__active {
    padding-top: 0;
    background-color: red;
    //background-position: center top;
    .jobs--carousel-item-more {
      visibility: visible;
      opacity: 1;
    }
  }
  .jobs--carousel-item-img {
    margin-bottom: 37px;
  }
  .jobs--carousel-item-category {
    color: variables.$orange;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    width: 100%;
  }
  .jobs--carousel-item-title {
    font-size: 30px;
    color: variables.$blue;
    text-align: center;
    width: 100%;
    margin-bottom: 27px;
  }
  .jobs--carousel-item-more {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 40%;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
    font-size: 0;
    position: relative;
    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: variables.$black;
    }
    &:before{
      width: 2px;
      height: 16px;
      margin-left: -1px;
      margin-top: -8px;
    }
    &:after {
      width: 16px;
      height: 2px;
      margin-left: -8px;
      margin-top: -1px;
    }
  }
}

#teams {
  .teams--title {
    font-size: 36px;
    color: variables.$blue;
    font-weight: bold;
    margin-bottom: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .teams--carousel {
    padding: 0;
    white-space: normal;
  }
  .teams--carousel-nav {
    padding: 0;
    text-align: right;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    width: 100%;
    .teams--carousel-nav-prev,
    .teams--carousel-nav-next {
      width: 21px;
      height: 10px;
      padding: 0;
      background-color: #ccc;
      background-position: center;
      border-radius: 0;
      mask-image: url(../img/bg/carousel-nav-arrow.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      &:hover {
        background-color: variables.$orange;
      }
    }
    .teams--carousel-nav-prev {
      margin-right: 10px;
    }
    .teams--carousel-nav-next {
      transform: scaleX(-1);
      margin-left: 10px;
    }
  }
  .teams--carousel-item {
    padding-top: 95px;
    transition: 0.3s padding ease-out;
    .teams--carousel-item-inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: stretch;
      align-items: center;
      width: 73.59%;
      margin: 0 auto;
    }
  }
  .teams--carousel-item__active {
    padding-top: 0;
    background-color: red;
  }
  .teams--carousel-item-photo {
    border-radius: 50%;
    overflow: hidden;
    //background-color: rgb(229, 194, 187);
    //width: 418px;
    //height: 418px;
    //width: 38.7vh;
    //height: 38.7vh;
    //margin-bottom: 3.15vh;
    max-width: 100%;
    //width: 50%;
  }
  .teams--carousel-item-post {
    font-size: 14px;
    color: variables.$orange;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    margin-bottom: 12px;
  }
  .teams--carousel-item-name {
    font-size: 30px;
    color: variables.$blue;
    font-weight: bold;
    line-height: 0.933;
    text-align: center;
    margin-bottom: 29px;
  }
  .teams--carousel-item-descr {
    font-size: 15px;
    color: variables.$gray;
    line-height: 1.667;
    text-align: center;
    margin-bottom: 30px;
  }
  .teams--carousel-item-social {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: nowrap;
    //justify-content: center;
    //align-content: stretch;
    //align-items: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      color: variables.$blue;
      padding: 0 5px;
      display: inline-block;
      font-size: 16px;
      &:hover {
        color: variables.$orange;
      }
    }
  }
  .teams--animated-svg {
    animation: animate-svg-stroke 16s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both infinite;
    animation-iteration-count: infinite;
    fill: none;
    stroke: variables.$blue;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0 4;
    stroke-dashoffset: 0;
    position: absolute;
    top: 50%;
    left: 0;
    //height: 264px;
    //height: 24.44vh;
    margin-top: -12.22vh;
  }
}

article {
  @include helpers.clearfix;
}
.looper {
  @include helpers.clearfix;
}

.main--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: variables.$footer;
  .footer--copy {
    padding-top: 0;
    padding-left: 0;
  }
  .footer-email {
    margin-bottom: 25px;
    padding-left: 65px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    &:before {
      width: 50px;
      height: 50px;
      display: inline-block;
      content: '';
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/bg/footer-email.png);
      border-radius: 40%;
      position: absolute;
      left: 0;
      top: 0;
    }
    //&:hover {
    //  &:before {
    //    background-image: url(../img/bg/footer-email--active.png);
    //  }
    //}
    span {
      display: block;
      text-transform: uppercase;
      color: variables.$gray;
      margin-bottom: 10px;
    }
    a {
      font-size: 16px;
      font-weight: bold;
      color: variables.$orange-dark;
      text-decoration: underline;
      &:active,
      &:focus,
      &:hover {
        text-decoration: none;
        color: color.adjust(variables.$action-color, $lightness: -15%);
      }
      &:active,
      &:focus {
        color: color.adjust(variables.$action-color, $lightness: 15%);
        outline: none;
      }
    }
  }
  .footer--copyright {
    color: variables.$gray;
    font-size: 13px;
  }
  .footer--pager {
    padding-top: 25px;
    padding-right: 0;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-end;
  }
  .footer--pager-mouse {
    position: absolute;
    right: 31px;
    width: 18px;
    height: 24px;
    margin-right: -9px;
    top: -30px;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 25px;
    &:before {
      position: absolute;
      left: 50%;
      content: '';
      width: 2px;
      height: 5px;
      background: #000;
      margin-left: -1px;
      top: 2px;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-name: mouse-scroll;
    }
  }
  .footer--page-num,
  .footer--page-title {
    width: 62px;
    text-align: center;
    span {
      display: block;
      text-align: center;
      padding: 10px 0;
    }
  }
  .footer--page-num {
    color: variables.$orange;
    border-bottom: 1px solid variables.$blue;
    span {
      font-size: 48px;
      line-height: 0.583;
    }
  }
  .footer--page-title {
    color: variables.$gray-light;
    font-size: 15px;
    line-height: 1.867;
    span {
      text-transform: capitalize;
    }
  }
}

.modal {
  //position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: variables.$base-background-color;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

.modal--contact {
  &.modal--contact__active {
    display: flex;
  }
  .modal--contact-title {
    font-size: 36px;
    font-weight: bold;
    color: variables.$blue;
    margin-bottom: 60px;
  }
  p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    color: variables.$black;
    margin-bottom: 24px;
    a {
      text-decoration: none;
      color: variables.$black;
    }
  }
  .modal--contact-email {
    margin-bottom: 60px;
    color: variables.$orange;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    line-height: 1.167;
  }
  .modal--contact-social {
    display: block;
  }
  .modal--contact-social-item {
    display: inline-block;
    margin-right: 14px;
    a {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.11);
      width: 50px;
      height: 50px;
      &:hover {
        background-color: rgb(54, 41, 154);
        box-shadow: 0px 24px 27px 0px rgba(0, 0, 0, 0.11);
        i {
          color: rgb(255, 255, 255);
        }
      }
    }
    i {
      color: rgb(54, 41, 154);
    }
  }
  .modal--contact-form {
    input,
    textarea {
      border: 0;
      border-bottom: 1px solid #E1E1E1;
      font-size: 15px;
      margin-bottom: 30px;
      background-color: transparent;
      box-shadow: none;
      @include mixin.placeholder {
        color: #898989;
      };
      &[type="submit"] {
        background-color: variables.$orange;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        border-radius: 22px;
        width: 180px;
        height: 55px;
      }
    }
    textarea {
      height: 100px;
    }
  }
  .modal-bg-element--1,
  .modal-bg-element--2,
  .modal-bg-element--3,
  .modal-bg-element--4,
  .modal-bg-element--5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
  .modal-bg-element--1 {
    //width: 458px;
    //height: 458px;
    width: 42.41vh;
    aspect-ratio: 1 / 1;
    //height: 42.41vh;
    left: 19.9vw;
    top: -16.48vh;
    background-image: url(../img/bg/modal-bg-element--1.svg);
    //background-image: url(../img/bg/modal-bg-element--1.png);
  }
  .modal-bg-element--2 {
    //width: 633px;
    //height: 359px;
    width: 32.97vw;
    aspect-ratio: 633 / 359;
    //height: 33.24vh;
    //left: 83.91vw;
    right: -16.88vw;
    top: 37.59vh;
    z-index: -1;
    background-image: url(../img/bg/modal-bg-element--2.svg);
    //background-image: url(../img/bg/modal-bg-element--2.png);
  }
  .modal-bg-element--3 {
    //width: 408px;
    //height: 647px;
    width: 21.2vw;
    aspect-ratio: 408 / 647;
    //height: 59.91vh;
    //left: 70.99vw;
    right: -7.76vw;
    //top: 18.06vh;
    bottom: 22.04vh;
    z-index: -2;
    background-image: url(../img/bg/modal-bg-element--3.svg);
    //background-image: url(../img/bg/modal-bg-element--3.png);
  }
  .modal-bg-element--4 {
    //width: 480px;
    //height: 480px;
    width: 44.44vh;
    aspect-ratio: 1 / 1;
    //height: 44.44vh;
    left: 3.23vw;
    //top: 74.81vh;
    bottom: -19.25vh;
    background-image: url(../img/bg/modal-bg-element--4.svg);
    //background-image: url(../img/bg/modal-bg-element--4.png);
  }
  .modal-bg-element--5 {
    //width: 119px;
    //height: 118px;
    width: 11.02vh;
    aspect-ratio: 1 / 1;
    //height: 11.02vh;
    left: 16.93vw;
    //top: 80.65vh;
    bottom: 8.33vh;
    background-image: url(../img/bg/modal-bg-element--5.svg);
    //background-image: url(../img/bg/modal-bg-element--5.png);
  }
  &.modal--contact__active {
    .modal-bg-element--1 {

    }
    .modal-bg-element--2 {

    }
    .modal-bg-element--3 {

    }
    .modal-bg-element--4 {

    }
    .modal-bg-element--5 {
      animation: modal-bg-element-5 linear 20s infinite;
    }
  }
}
@keyframes modal-bg-element-5 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(16px)
  }
}

@include meta.load-css("media");

@include meta.load-css("fonts/font_poppins");

@include meta.load-css("import/base64");
@include meta.load-css("import/print");
