@use "sass:color";
@use "sass:meta";
@use "import/reset";
@use "import/variables";
@use "import/buttons";
@use "import/forms";
@use "import/lists";
@use "import/tables";
@use "import/mixin";
@use "import/helpers";

@use "../../node_modules/rfs/scss";

@use "grid-reflex/reflex";
@use "import/wordpress";

$breakpoints: (
  mobile: 320px,
  tablet: 768px,
  desktop: 992px,
  wide: 1200px,
  // Tweakpoints
  desktopAd: 810px,
  mobileLandscape: 480px,
);
$show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);
@use "import/mq" with (
  $breakpoints: $breakpoints,
  $show-breakpoints: $show-breakpoints
);
@include mq.add-breakpoint(xs, 576px);
@include mq.add-breakpoint(xlg, 1600px);

@include mixin.loadify(init);

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

body {
  background-color: variables.$base-background-color;
  color: variables.$base-font-color;
  font-family: variables.$font-family-base;
  font-size: variables.$base-font-size;
  font-weight: variables.$fnorm;
  line-height: variables.$base-line-height;
  min-width: 320px;
  transition: variables.$base-transition;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: variables.$heading-font-family;
  font-size: variables.$base-font-size;
  line-height: variables.$heading-line-height;
  margin: 0 0 variables.$small-spacing;
}
p,
pre {
  margin: 0 0 variables.$small-spacing;
}
a {
  transition: variables.$base-transition;
  text-decoration: none;
  color: variables.$action-color;
  &:active,
  &:focus,
  &:hover {
    color: color.adjust(variables.$action-color, $lightness: -15%);
  }
  &:active,
  &:focus {
    color: color.adjust(variables.$action-color, $lightness: 15%);
    outline: none;
  }
}
hr {
  margin: variables.$base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: variables.$base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}

.container {
  position: relative;
  max-width: variables.$width;
  padding-left: 0;
  padding-right: 0;
}

.grid-full-height {
  height: 100vh;
}

.main--header {
  height: 115px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  padding-top: 60px;
  .header--logo {
    padding: 12px 0 0 15px;
    span,
    a {
      //font-size: 26px;
      //@include mixin.font-size(26px);
      //@include mixin.font-size-vw(26px);
      @include scss.rfs(26px, font-size);
      line-height: 1.2;
      font-weight: bold;
      color: variables.$black;
      position: relative;
      z-index: 6;
      letter-spacing: 1.2px;
      &:before {
        display: inline-block;
        content: '';
        width: 34px;
        height: 34px;
        background-color: variables.$orange;
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 13px;
        animation-name: modal-project-bg;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
      }
    }
  }
}

.header--nav {
  padding: 18px 0 0;
}

.header--menu {
  @include helpers.clearfix;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 25px;
    &.active {
      a {
        color: variables.$orange;
        &:active,
        &:focus,
        &:hover {
          color: color.adjust(variables.$orange, $lightness: -15%);
        }
        &:active,
        &:focus {
          color: color.adjust(variables.$orange, $lightness: 15%);
          outline: none;
        }
      }
    }
  }
  a {
    //font-size: 15px;
    //@include mixin.font-size(15px);
    //@include mixin.font-size-vw(15px);
    @include scss.rfs(15px, font-size);
    text-decoration: none;
    color: variables.$black;
    font-weight: 600;
    letter-spacing: -0.9px;
    &:active,
    &:focus,
    &:hover {
      text-decoration: underline;
      color: color.adjust(variables.$black, $lightness: -15%);
      .word,
      .char {
        animation-delay: calc(var(--char-index) * -0.05s);
        animation-direction: normal;
        animation-duration: 1600ms;
        animation-iteration-count: infinite;
        animation-name: header-menu-fall;
        animation-timing-function: cubic-bezier(0.165, 0.44, 0.64, 1);
        animation-fill-mode: forwards;
        display: inline-block;
        position: relative;
        transform-origin: 50% 100%;
        z-index: 1;
      }
    }
    &:active,
    &:focus {
      color: color.adjust(variables.$black, $lightness: 15%);
      outline: none;
    }

  }
}

.header--contact {
  text-align: right;
  padding: 0 15px 0 0;
  .header--contact-button {
    display: inline-block;
    width: 200px;
    height: 53px;
    text-align: center;
    font-weight: 600;
    //font-size: 16px;
    //@include mixin.font-size(16px);
    //@include mixin.font-size-vw(16px);
    @include scss.rfs(16px, font-size);
    color: variables.$blue;
    border: 1px solid variables.$gray-medium;
    background-color: transparent;
    border-radius: 22px;
    line-height: 0.9;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
    transition: all 0.3s ease-in-out;
    will-change: transform;
    position: relative;
    overflow: hidden;
    &:hover {
      box-shadow: 0 0 5px variables.$gray;
    }
    &:active {
      box-shadow: 0 0 10px variables.$gray;
    }
    &.header--contact-button__active {
      font-size: 0;
      width: 53px;
      height: 53px;
      &:before,
      &:after {
        display: block;
        content: '';
        background-color: variables.$black;
        position: absolute;
        top: 50%;
        left: 50%;
        transition: all 0.5s ease-in-out;
        transform: rotate(45deg);
      }
      &:before {
        width: 2px;
        height: 14px;
        margin-left: -1px;
        margin-top: -7px;
      }
      &:after {
        width: 14px;
        height: 2px;
        margin-left: -7px;
        margin-top: -1px;
      }
      &:hover {
        &:before,
        &:after {
          transform: scale(1.5) rotate(45deg);
        }
      }
    }
  }
}

.section {
  overflow: hidden;
  background-color: variables.$base-background-color;
}

#home {
  .home--title {
    font-weight: bold;
    //font-size: 140px;
    //@include mixin.font-size(140px);
    @include scss.rfs(140px, font-size);
    //@include mixin.font-size-vw(140px);
    text-align: center;
    color: variables.$blue;
    line-height: 0.5;
    padding-top: 0;
    padding-bottom: 0;
    //margin-bottom: 0;
    //@include scss.rfs(40px, margin-bottom);
    @include scss.rfs(10px, margin-bottom);
    span {
      display: block;
      position: relative;
      //top: -18px;
      @include scss.rfs(100px, padding-top);
      //@include scss.rfs(20px, padding-bottom);
      @include scss.rfs(-38px, top);
      @include mq.mq(mobile, xs) {
        top: 0;
        padding-top: 0;
        display: inline;
      }
    }
    @include mq.mq(mobile, xs) {
      line-height: 1;
    }
  }
  .home--description {
    text-align: center;
    margin-bottom: 14px;
    //font-size: 18px;
    //@include mixin.font-size(18px);
    //@include mixin.font-size-vw(18px);
    @include scss.rfs(18px, font-size);
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    letter-spacing: -0.2px;
    z-index: 4;
  }
  .home-bg-element--1,
  .home-bg-element--2,
  .home-bg-element--3,
  .home-bg-element--4,
  .home-bg-element--5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
  .home-bg-element--1 {
    //width: 195px;
    //height: 195px;
    //width: 10.16vw;
    //width: 18.06vh;
    //height: 18.06vh;
    //top: 27.69vh;
    //left: 64.79vw;
    //width: 458px;
    //height: 458px;
    width: 42.41vh;
    aspect-ratio: 1 / 1;
    //height: 42.41vh;
    left: 59.06vw;
    top: 15.83vh;
    //background-image: url(../img/bg/home-bg-element--1.png);
    background-image: url(../img/bg/home-bg-element--1.svg);
    z-index: -1;
  }
  .home-bg-element--2 {
    //width: 839px; // 763 real
    //height: 365px;
    //width: 43.7vw;
    //width: 77.69vh;
    //height: 33.8vh;
    //top: 37.04vh;
    //left: -7.04vh;
    //width: 855px;
    //height: 400px;
    //width: 44.53vw;
    width: mixin.get-vw(855px);
    aspect-ratio: 855 / 400;
    //height: 37.04vh;
    //left: -4.27vw;
    //top: 35.56vh;
    top: 0;
    left: 0;
    transform: scale(0.7);
    z-index: 2;
    //background-image: url(../img/bg/home-bg-element--2.png);
    background-image: url(../img/bg/home-bg-element--2.svg);
  }
  .home-bg-element--3 {
    //width: 254px;
    //height: 254px;
    //width: 13.23vw;
    //width: 23.52vh;
    //height: 23.52vh;
    //top: 55.56vh;
    //left: 19.01vw;
    //width: 480px;
    //height: 480px;
    //width: 44.44vh;
    width: mixin.get-vh(480px);
    aspect-ratio: 1 / 1;
    //height: 44.44vh;
    left: 13.13vw;
    top: 46.11vh;
    z-index: 3;
    //background-image: url(../img/bg/home-bg-element--3.png);
    background-image: url(../img/bg/home-bg-element--3.svg);
  }
  .home-bg-element--4 {
    //width: 325px;
    //height: 535px; // real 375
    //width: 16.93vw;
    //width: 30.09vh;
    //height: 49.54vh;
    //bottom: -14.81vh;
    //left: 66.35vw;
    //width: 325px;
    //height: 535px;
    width: 16.93vw;
    aspect-ratio: 325 / 535;
    //height: 49.54vh;
    //left: 64.95vw;
    right: 17.93vw;
    //top: 64.44vh;
    bottom: -13.98vh;
    z-index: -2;
    //background-image: url(../img/bg/home-bg-element--4.png);
    background-image: url(../img/bg/home-bg-element--4.svg);
  }
  .home-bg-element--5 {
    //width: 117px;
    //height: 116px;
    //width: 6.09vw;
    //width: 10.83vh;
    //height: 10.74vh;
    //bottom: 9.26vh;
    //left: 79.17vw;
    //width: 119px;
    //height: 118px;
    //height: 10.93vh;
    //left: 78.85vw;
    //top: 80.28vh;
    width: 19.02vh;
    aspect-ratio: 1/1;
    right: 12vw;
    bottom: 3.8vh;
    z-index: -1;
    //background-image: url(../img/bg/home-bg-element--5.png);
    background-image: url(../img/bg/home-bg-element--5.svg);
  }
  &.active {
    .home-bg-element--1 {
      animation-name: home-bg-element-1;
      animation-duration: 20s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .home-bg-element--2 {
      animation-name: home-bg-element-2;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .home-bg-element--3 {
      animation-name: home-bg-element-3;
      animation-duration: 30s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
    }
    .home-bg-element--4 {
      animation-name: home-bg-element-4;
      animation-duration: 2s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .home-bg-element--5 {
      animation-name: home-bg-element-5;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

  }
}

#about {
  .about--title,
  .about--content,
  .about--provide {
    @include scss.rfs(-35px, top);
    //top: -35px;
  }
  .about--title {
    //font-size: 30px;
    //@include mixin.font-size(30px);
    @include scss.rfs(30px, font-size);
    color: variables.$blue;
    font-weight: 200;
  }
  .about--content {
    .about--content-title {
      font-weight: bold;
      //font-size: 48px;
      //@include mixin.font-size(48px);
      @include scss.rfs(48px, font-size);
      line-height: 1.2;
      letter-spacing: -0.2px;
      //margin-bottom: 25px;
      @include scss.rfs(25px, margin-bottom);
    }
    p {
      //margin-bottom: 35px;
      @include scss.rfs(35px, margin-bottom);
      //font-size: 15px;
      //@include mixin.font-size(15px);
      @include scss.rfs(15px, font-size);
      color: variables.$gray;
    }
  }
  .about--content-partners {
    //padding-top: 90px;
    @include scss.rfs(90px, padding-top);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    span {
      text-transform: uppercase;
      display: inline-block;
      width: 150px;
      //font-size: 14px;
      //@include mixin.font-size(14px);
      @include scss.rfs(14px, font-size);
      color: rgb(161, 161, 161);
      font-weight: bold;
      line-height: 1.3;
      letter-spacing: -0.2px;
    }
    .partners--list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
      width: calc(100% - 150px);
      //padding-left: 50px;
      @include scss.rfs(50px, padding-left);
    }
    .partners--item {
      margin-right: 36px;
      height: 31px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      @include scss.rfs(36px, margin-right);
      &:last-child {
        margin-right: 0;
      }
      a {
        &:hover {
          i {
            color: variables.$orange;
          }
        }
      }
      i {
        //font-size: 30px;
        //@include mixin.font-size(30px);
        @include scss.rfs(30px, font-size);
        line-height: 1.2;
        color: variables.$black;
      }
    }
  }
  .about--provide {

  }
  .about--provide-title {
    //font-size: 30px;
    //@include mixin.font-size(30px);
    @include scss.rfs(30px, font-size);
    color: variables.$blue;
    font-weight: 200;
    //margin-bottom: 60px;
    @include scss.rfs(60px, margin-bottom);
    letter-spacing: -0.2px;
  }
  .about--provide-list {
    //font-size: 15px;
    //@include mixin.font-size(15px);
    @include scss.rfs(15px, font-size);
    color: variables.$gray;

  }
  .about--provide-item {
    //margin-bottom: 50px;
    @include scss.rfs(50px, margin-bottom);
    //padding-left: 65px;
    @include scss.rfs(65px, padding-left);
    position: relative;
    height: 42px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    letter-spacing: 0.6px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 36px;
      height: 42px;
      display: block;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:nth-child(1) {
      background-image: url(../img/content/about--provide-item-1.png);
    }
    &:nth-child(2) {
      background-image: url(../img/content/about--provide-item-2.png);
    }
    &:nth-child(3) {
      background-image: url(../img/content/about--provide-item-3.png);
    }
  }
  .about-bg-element--1,
  .about-bg-element--2,
  .about-bg-element--3,
  .about-bg-element--4 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
  .about-bg-element--1 {
    //width: 195px;
    //height: 195px; // real 140
    //width: 10.16vw;
    //width: 18.06vh;
    //height: 18.06vh;
    //left: 72.66vw;
    //top: -5.09vh;
    //width: 458px;
    //height: 458px;
    width: 42.41vh;
    aspect-ratio: 1 / 1;
    //height: 42.41vh;
    left: 65.21vw;
    top: -15.93vh;
    z-index: -1;
    //background-image: url(../img/bg/about-bg-element--1.png);
    background-image: url(../img/bg/about-bg-element--1.svg);
  }
  .about-bg-element--2 {
    //width: 633px;
    //height: 359px; // real 251
    //width: 32.97vw;
    //width: 58.61vh;
    //height: 33.24vh;
    //left: 69.01vw;
    //bottom: -10vh;
    //width: 633px;
    //height: 359px;
    width: 32.97vw;
    aspect-ratio: 633 / 359;
    //height: 33.24vh;
    //left: 68.96vw;
    right: -1.93vw;
    //top: 77.13vh;
    bottom: -10.37vh;
    z-index: -1;
    //background-image: url(../img/bg/about-bg-element--2.png);
    background-image: url(../img/bg/about-bg-element--2.svg);
  }
  .about-bg-element--3 {
    //width: 115px;
    //height: 252px; // real 182
    //width: 5.99vw;
    //width: 10.65vh;
    //height: 23.33vh;
    //left: 27.08vw;
    //bottom: -6.48vh;
    //width: 236px;
    //height: 374px;
    width: 12.29vw;
    aspect-ratio: 236 / 374;
    //height: 21.85vh;
    left: 24.32vw;
    //top: 76.94vh;
    bottom: -11.57vh;
    z-index: -1;
    //background-image: url(../img/bg/about-bg-element--3.png);
    background-image: url(../img/bg/about-bg-element--3.svg);
  }
  .about-bg-element--4 {
    //width: 240px;
    //height: 241px; // real 110
    //width: 12.5vw;
    //width: 22.22vh;
    //height: 22.31vh;
    //left: 19.79vw;
    //bottom: -12.13vh;
    //width: 454px;
    //height: 454px;
    width: 42.04vh;
    aspect-ratio: 1 / 1;
    //height: 42.04vh;
    left: 15.31vw;
    //top: 82.22vh;
    bottom: -24.17vh;
    z-index: -2;
    //background-image: url(../img/bg/about-bg-element--4.png);
    background-image: url(../img/bg/about-bg-element--4.svg);
  }
  &.active {
    .about-bg-element--1 {
      animation-name: about-bg-element-1;
      animation-duration: 18s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
    }
    .about-bg-element--2 {
      animation-name: about-bg-element-2;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .about-bg-element--3 {
      animation-name: about-bg-element-3;
      animation-duration: 3s;
      animation-timing-function: ease;
      animation-delay: 0s;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }
    .about-bg-element--4 {
      animation-name: about-bg-element-4;
      animation-duration: 16s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
    }
  }
}

.tns-outer {
  width: 100%;
}

#jobs {
  .jobs--title {
    color: variables.$blue;
    font-weight: bold;
    //font-size: 36px;
    //@include mixin.font-size(36px);
    @include scss.rfs(36px, font-size);
    //padding: 45px 15px 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0;
    @include scss.rfs(45px, padding-top);
    //margin-bottom: 10px;
    @include scss.rfs(10px, margin-bottom);
    line-height: 0.6;
  }
  .jobs--carousel {
    //width: 100%;
    padding: 0;
    white-space: normal;
  }
  .jobs--carousel-nav {
    padding: 0 15px;
    text-align: right;
    position: absolute;
    top: 42px;
    @include scss.rfs(42px, top);
    left: 0;
    right: 0;
    width: 100%;
    .jobs--carousel-nav-prev,
    .jobs--carousel-nav-next {
      width: 21px;
      height: 10px;
      padding: 0;
      background-color: #ccc;
      background-position: center;
      border-radius: 0;
      mask-image: url(../img/bg/carousel-nav-arrow.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      &:hover {
        background-color: variables.$orange;
      }
    }
    .jobs--carousel-nav-prev {
      margin-right: 12px;
    }
    .jobs--carousel-nav-next {
      transform: scaleX(-1);
      margin-left: 12px;
    }
  }
  .jobs--carousel-item {
    //padding-top: 100px;
    @include scss.rfs(100px, padding-top);
    // TODO: make transitions greate again
    transition: 0.3s padding ease-out;
    //letter-spacing: unset;
    //white-space: initial;
    //word-spacing: initial;
    //overflow-wrap: anywhere;
    .jobs--carousel-item-inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
      width: 73.59%;
      margin: 0 auto;
    }
  }
  .jobs--carousel-item__active {
    padding-top: 0;
    //background-color: red;
    //background-position: center top;
    .jobs--carousel-item-more {
      visibility: visible;
      opacity: 1;
    }
  }
  .jobs--carousel-item-img {
    //margin-bottom: 35px;
    @include scss.rfs(35px, margin-bottom);
    //width: 100%;
    max-width: 100%;
    overflow: hidden;
  }
  .jobs--carousel-item-category {
    color: variables.$orange;
    //font-size: 14px;
    //@include mixin.font-size(14px);
    @include scss.rfs(14px, font-size);
    font-weight: 600;
    //margin-bottom: 20px;
    @include scss.rfs(20px, margin-bottom);
    text-align: center;
    display: block;
    width: 100%;
  }
  .jobs--carousel-item-title {
    //font-size: 30px;
    //@include mixin.font-size(30px);
    @include scss.rfs(30px, font-size);
    color: variables.$blue;
    text-align: center;
    width: 100%;
    //margin-bottom: 30px;
    @include scss.rfs(30px, margin-bottom);
    font-weight: bold;
    line-height: 0.9;
  }
  .jobs--carousel-item-more {
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 40%;
    background-color: #fff;
    text-align: center;
    padding: 15px;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    //transition: visibility 0.3s, opacity 0.3s linear;
    transition: all 0.3s ease-in-out;
    font-size: 0;
    position: relative;
    &:hover {
      box-shadow: 0 0 5px variables.$gray;
      &:before,
      &:after {
        transform: scale(1.5);
      }
    }
    &:active {
      box-shadow: 0 0 10px variables.$gray;
    }
    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: variables.$black;
    }
    &:before{
      width: 2px;
      height: 16px;
      margin-left: -1px;
      margin-top: -8px;
    }
    &:after {
      width: 16px;
      height: 2px;
      margin-left: -8px;
      margin-top: -1px;
    }
  }
  .jobs--animated-svg {
    animation-name: animate-svg-stroke;
    animation-duration: 16s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    fill: none;
    stroke: variables.$orange;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0 3;
    stroke-dashoffset: 0;
    position: absolute;
    top: 50%;
    left: 0;
    //height: 264px;
    //height: 24.44vh;
    margin-top: -12.22vh;
  }
}

#teams {
  .teams--title {
    //font-size: 36px;
    //@include mixin.font-size(36px);
    @include scss.rfs(36px, font-size);
    color: variables.$blue;
    font-weight: bold;
    margin-bottom: 0;
    //padding-top: 70px;
    @include scss.rfs(70px, padding-top);
    padding-bottom: 0;
    line-height: 1.4;
  }
  .teams--carousel {
    padding: 0;
    white-space: normal;
  }
  .teams--carousel-nav {
    padding: 0 15px;
    text-align: right;
    position: absolute;
    top: 85px;
    @include scss.rfs(85px, top);
    left: 0;
    right: 0;
    width: 100%;
    .teams--carousel-nav-prev,
    .teams--carousel-nav-next {
      width: 21px;
      height: 10px;
      padding: 0;
      background-color: #ccc;
      background-position: center;
      border-radius: 0;
      mask-image: url(../img/bg/carousel-nav-arrow.svg);
      mask-repeat: no-repeat;
      mask-position: center;
      &:hover {
        background-color: variables.$orange;
      }
    }
    .teams--carousel-nav-prev {
      margin-right: 12px;
    }
    .teams--carousel-nav-next {
      transform: scaleX(-1);
      margin-left: 12px;
    }
  }
  .teams--carousel-item {
    padding-top: 95px;
    @include scss.rfs(95px, padding-top);
    transition: 0.3s padding ease-out;
    .teams--carousel-item-inner {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: center;
      width: 73.59%;
      margin: 0 auto;
    }
  }
  .teams--carousel-item__active {
    padding-top: 0;
    //background-color: red;
    //.teams--carousel-item-inner {
    //  padding-top: 0;
    //}
    .teams--carousel-item-photo {
      //margin-top: -95px;
    }
    .teams--carousel-item-descr {
      display: block;
    }
    .teams--carousel-item-social {
      display: flex;
    }
  }
  //.teams--carousel-item-inner {
  //  padding-top: 95px;
  //  transition: 0.3s padding ease-out;
  //}
  .teams--carousel-item-photo {
    border-radius: 50%;
    overflow: hidden;
    //margin-bottom: 35px;
    @include scss.rfs(35px, margin-bottom);
    //background-color: rgb(229, 194, 187);
    //width: 418px;
    //height: 418px;
    //width: 38.7vh;
    //height: 38.7vh;
    //margin-bottom: 3.15vh;
    max-width: 100%;
    //width: 50%;
  }
  .teams--carousel-item-post {
    //font-size: 14px;
    //@include mixin.font-size(14px);
    @include scss.rfs(14px, font-size);
    color: variables.$orange;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.9;
    text-align: center;
    //margin-bottom: 15px;
    @include scss.rfs(15px, margin-bottom);
  }
  .teams--carousel-item-name {
    //font-size: 30px;
    //@include mixin.font-size(30px);
    @include scss.rfs(30px, font-size);
    color: variables.$blue;
    font-weight: bold;
    line-height: 0.8;
    text-align: center;
    letter-spacing: -0.2px;
    //margin-bottom: 29px;
    @include scss.rfs(25px, margin-bottom);
  }
  .teams--carousel-item-descr {
    //font-size: 15px;
    //@include mixin.font-size(15px);
    @include scss.rfs(15px, font-size);
    color: variables.$gray;
    line-height: 1.6;
    text-align: center;
    //margin-bottom: 30px;
    @include scss.rfs(30px, margin-bottom);
    display: none;
  }
  .teams--carousel-item-social {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    display: none;
    li {
      //display: inline-block;
      margin: 0 10px;
    }
    a {
      color: variables.$blue;
      padding: 0 5px;
      display: inline-block;
      //font-size: 16px;
      //@include mixin.font-size(16px);
      @include scss.rfs(16px, font-size);
      &:hover {
        color: variables.$orange;
      }
    }
  }
  .teams--animated-svg {
    animation-name: animate-svg-stroke;
    animation-duration: 16s;
    animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    fill: none;
    stroke: variables.$blue;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 0 4;
    stroke-dashoffset: 0;
    position: absolute;
    top: 50%;
    left: 0;
    //height: 264px;
    //height: 24.44vh;
    margin-top: -12.22vh;
  }
}

.main--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: variables.$footer;
  .footer--copy {
    padding-top: 0;
    padding-left: 15px;
  }
  .footer-email {
    margin-bottom: 25px;
    padding-left: 65px;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
    &:before {
      width: 50px;
      height: 50px;
      display: inline-block;
      content: '';
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../img/bg/footer-email.png);
      border-radius: 40%;
      position: absolute;
      left: 0;
      top: 0;
    }
    //&:hover {
    //  &:before {
    //    background-image: url(../img/bg/footer-email--active.png);
    //  }
    //}
    span {
      display: block;
      text-transform: uppercase;
      color: variables.$gray;
      margin-bottom: 10px;
    }
    a {
      //font-size: 16px;
      //@include mixin.font-size(16px);
      @include scss.rfs(16px, font-size);
      font-weight: bold;
      color: variables.$orange-dark;
      text-decoration: underline;
      &:active,
      &:focus,
      &:hover {
        text-decoration: none;
        color: color.adjust(variables.$action-color, $lightness: -15%);
      }
      &:active,
      &:focus {
        color: color.adjust(variables.$action-color, $lightness: 15%);
        outline: none;
      }
    }
  }
  .footer--copyright {
    color: variables.$gray;
    //font-size: 13px;
    //@include mixin.font-size(13px);
    @include scss.rfs(13px, font-size);
  }
  .footer--pager {
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-end;
  }
  .footer--pager-mouse {
    position: absolute;
    right: 45px;
    width: 18px;
    height: 24px;
    margin-right: -9px;
    top: -35px;
    box-shadow: inset 0 0 0 2px #000;
    border-radius: 25px;
    &:before {
      position: absolute;
      left: 50%;
      content: '';
      width: 2px;
      height: 5px;
      background: #000;
      margin-left: -1px;
      top: 2px;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
      animation-name: mouse-scroll;
    }
  }
  .footer--page-num,
  .footer--page-title {
    width: 62px;
    text-align: center;
    span {
      display: block;
      text-align: center;
      padding: 10px 0;
    }
  }
  .footer--page-num {
    color: variables.$orange;
    border-bottom: 1px solid variables.$blue;
    > span {
      //font-size: 48px;
      //@include mixin.font-size(48px);
      @include scss.rfs(48px, font-size);
      line-height: 0.6;
      height: 48px;
    }
  }
  .footer--page-title {
    color: variables.$gray-light;
    //font-size: 15px;
    //@include mixin.font-size(15px);
    @include scss.rfs(15px, font-size);
    line-height: 1.2;
    span {
      text-transform: capitalize;
    }
  }
}

.modal {
  //position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: variables.$base-background-color;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  transition: all 200ms ease;
  opacity: 0;
  backface-visibility: hidden;
}

.modal--contact {
  &.modal--contact__active {
    display: flex;
    animation-name: modal-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  &.modal--contact__close {
    animation-name: modal-fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  .modal--contact-left,
  .modal--contact-right {
    //top: -10px;
    padding-top: 10px;
    padding-bottom: 0;
  }
  .modal--contact-title {
    //font-size: 36px;
    //@include mixin.font-size(36px);
    @include scss.rfs(36px, font-size);
    font-weight: bold;
    color: variables.$blue;
    //margin-bottom: 50px;
    @include scss.rfs(50px, margin-bottom);
    line-height: 1;
  }
  p {
    font-weight: 500;
    //font-size: 16px;
    //@include mixin.font-size(16px);
    @include scss.rfs(16px, font-size);
    line-height: 2.2;
    padding-right: 20%;
    color: variables.$black;
    //margin-bottom: 15px;
    @include scss.rfs(15px, margin-bottom);
    a {
      text-decoration: none;
      color: variables.$black;
    }
  }
  .modal--contact-email {
    //margin-bottom: 60px;
    @include scss.rfs(60px, margin-bottom);
    color: variables.$orange;
    //font-size: 24px;
    //@include mixin.font-size(24px);
    @include scss.rfs(24px, font-size);
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    line-height: 1.2;
  }
  .modal--contact-social {
    display: block;
  }
  .modal--contact-social-item {
    display: inline-block;
    margin-right: 10px;
    a {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: stretch;
      align-items: center;
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.11);
      //box-shadow: 0 0 5px variables.$gray;
      width: 50px;
      height: 50px;
      transition: all 0.3s ease-in-out;
      //&:hover {
      //
      //}
      //&:active {
      //  box-shadow: 0 0 10px variables.$gray;
      //}
      &:hover {
        background-color: rgb(54, 41, 154);
        //box-shadow: 0px 24px 27px 0px rgba(0, 0, 0, 0.11);
        box-shadow: 0 0 10px variables.$gray;
        i {
          color: rgb(255, 255, 255);
        }
      }
    }
    i {
      color: rgb(54, 41, 154);
    }
  }
  .modal--contact-form {
    input,
    textarea {
      border: 0;
      border-bottom: 1px solid #E1E1E1;
      //font-size: 15px;
      //@include mixin.font-size(15px);
      @include scss.rfs(15px, font-size);
      background-color: transparent;
      box-shadow: none;
      @include mixin.placeholder {
        color: #898989;
      };
      &[type="text"],
      &[type="email"]{
        //margin-bottom: 30px;
        @include scss.rfs(30px, margin-bottom);
        padding: 8px 0;
        line-height: 1;
      }
      &[type="submit"] {
        background-color: variables.$orange;
        //font-size: 16px;
        //@include mixin.font-size(16px);
        @include scss.rfs(16px, font-size);
        font-weight: bold;
        color: #fff;
        border-radius: 22px;
        width: 180px;
        height: 55px;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
        text-align: center;
        //box-shadow: 0px 27px 24px 0px rgba(0, 0, 0, 0.11);
        &:hover {
          box-shadow: 0 0 5px variables.$gray;
        }
        &:active {
          box-shadow: 0 0 10px variables.$gray;
        }
      }
    }
    textarea {
      padding: 10px 0;
      height: 105px;
      //margin-bottom: 50px;
      @include scss.rfs(50px, margin-bottom);
    }
  }
  .modal-bg-element--1,
  .modal-bg-element--2,
  .modal-bg-element--3,
  .modal-bg-element--4,
  .modal-bg-element--5 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
  }
  .modal-bg-element--1 {
    //width: 458px;
    //height: 458px;
    width: 42.41vh;
    aspect-ratio: 1 / 1;
    //height: 42.41vh;
    left: 19.9vw;
    top: -16.48vh;
    z-index: -2;
    background-image: url(../img/bg/modal-bg-element--1.svg);
    //background-image: url(../img/bg/modal-bg-element--1.png);
  }
  .modal-bg-element--2 {
    //width: 633px;
    //height: 359px;
    width: 32.97vw;
    aspect-ratio: 633 / 359;
    //height: 33.24vh;
    //left: 83.91vw;
    right: -16.88vw;
    top: 37.59vh;
    z-index: -1;
    background-image: url(../img/bg/modal-bg-element--2.svg);
    //background-image: url(../img/bg/modal-bg-element--2.png);
  }
  .modal-bg-element--3 {
    //width: 408px;
    //height: 647px;
    //width: 21.2vw;
    aspect-ratio: 408 / 647;
    //height: 59.91vh;
    //left: 70.99vw;
    //right: -7.76vw;
    //top: 18.06vh;
    //bottom: 22.04vh;
    z-index: -2;
    width: 40.2vw;
    right: -11.5vw;
    bottom: -8vh;
    background-image: url(../img/bg/modal-bg-element--3.svg);
    //background-image: url(../img/bg/modal-bg-element--3.png);
  }
  .modal-bg-element--4 {
    //width: 480px;
    //height: 480px;
    width: 44.44vh;
    aspect-ratio: 1 / 1;
    //height: 44.44vh;
    left: 3.23vw;
    //top: 74.81vh;
    bottom: -19.25vh;

    z-index: -4;
    background-image: url(../img/bg/modal-bg-element--4.svg);
    //background-image: url(../img/bg/modal-bg-element--4.png);
  }
  .modal-bg-element--5 {
    //width: 119px;
    //height: 118px;
    //width: 11.02vh;
    aspect-ratio: 1 / 1;
    //height: 11.02vh;
    //left: 16.93vw;
    //top: 80.65vh;
    //bottom: 8.33vh;
    z-index: -3;
    width: 19.02vh;
    left: 15.23vw;
    bottom: 3.53vh;
    background-image: url(../img/bg/modal-bg-element--5.svg);
    //background-image: url(../img/bg/modal-bg-element--5.png);
  }

  &.modal--contact__active {
    .modal-bg-element--1 {
      animation-name: modal-bg-element-1;
      animation-duration: 25s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
    }
    .modal-bg-element--2 {

    }
    .modal-bg-element--3 {

    }
    .modal-bg-element--4 {
      animation-name: modal-bg-element-4;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
    }
    .modal-bg-element--5 {
      animation-name: modal-bg-element-5;
      animation-duration: 10s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: both;
    }
  }
}

.modal--project {
  z-index: 11;
  &.modal--project__active {
    display: flex;
    animation-name: modal-fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }
  &.modal--project__close {
    animation-name: modal-fade-out;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }
  .modal--project-logo {
    height: 120px;
    padding-top: 75px;
    //@include scss.rfs(75px, padding-top);
    padding-left: 15px;
    padding-bottom: 0;
    span,
    a {
      //font-size: 26px;
      //@include mixin.font-size(26px);
      @include scss.rfs(28px, font-size);
      line-height: 1.2;
      font-weight: bold;
      color: variables.$black;
      position: relative;
      z-index: 6;
      &:before {
        display: inline-block;
        content: '';
        width: 34px;
        height: 34px;
        background-color: variables.$orange;
        border-radius: 50%;
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 17px;
        animation-name: modal-project-bg;
        animation-duration: 20s;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
      }
    }
  }
  .modal--project-close {
    height: 114px;
    padding-right: 15px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
  }
  .modal--project-close-button {
    //border: 1px solid variables.$gray;
    border: 1px solid #80808061;
    border-radius: 22px;
    width: 53px;
    height: 53px;
    background-color: transparent;
    font-size: 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    &:before,
    &:after {
      display: block;
      content: '';
      background-color: variables.$black;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: all 0.5s ease-in-out;
      transform: rotate(45deg);
    }
    &:before {
      width: 2px;
      height: 14px;
      margin-left: -1px;
      margin-top: -7px;
    }
    &:after {
      width: 14px;
      height: 2px;
      margin-left: -7px;
      margin-top: -1px;
    }
    &:hover {
      box-shadow: 0 0 5px variables.$gray;
      &:before,
      &:after {
        transform: scale(1.5) rotate(45deg);
      }
    }
    &:active {
      box-shadow: 0 0 10px variables.$gray;
    }
  }
  .modal--project-preview {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .modal--project-image {
    //height: mixin.get-vh(20px);
  }
  .modal--project-content {
    //padding-top: 90px;
    @include scss.rfs(90px, padding-top);
  }
  .modal--project-cat {
    //font-size: 14px;
    //@include mixin.font-size(14px);
    @include scss.rfs(14px, font-size);
    color: variables.$orange;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    //margin-bottom: 21px;
    @include scss.rfs(21px, margin-bottom);
  }
  .modal--project-title {
    //font-size: 48px;
    //@include mixin.font-size(48px);
    @include scss.rfs(48px, font-size);
    color: variables.$blue;
    font-weight: bold;
    line-height: 0.8;
    //margin-bottom: 57px;
    @include scss.rfs(57px, margin-bottom);
  }
  .modal--project-props {
    //margin-bottom: 40px;
    @include scss.rfs(40px, margin-bottom);
    dt,
    dd {
      padding-left: 34px;
      line-height: 1.6;
      //font-size: 15px;
      //@include mixin.font-size(15px);
      @include scss.rfs(15px, font-size);
      @include helpers.clearfix;
    }
    dt {
      padding-bottom: 0;
      margin: 0;
      font-weight: bold;
      color: variables.$black;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: 0;
      }
    }
    dd {
      color: variables.$gray;
      font-weight: normal;
      //margin-bottom: 26px;
      @include scss.rfs(26px, margin-bottom);
    }
    span {
      display: block;
      width: 44%;
      float: left;
    }
  }
  .modal--project-props-date {
    &:before {
      width: 14px;
      height: 18px;
      background-image: url(../img/bg/modal--project-props-date.png);
    }
  }
  .modal--project-props-location {
    &:before {
      width: 12px;
      height: 17px;
      background-image: url(../img/bg/modal--project-props-location.png);
    }
  }
  .modal--project-props-services {
    &:before {
      width: 20px;
      height: 18px;
      background-image: url(../img/bg/modal--project-props-services.png);
    }
  }
  p {
    //font-size: 15px;
    //@include mixin.font-size(15px);
    @include scss.rfs(15px, font-size);
    line-height: 1.7;
    color: variables.$gray;
  }
  .modal--project-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-end;
    height: 186px;
  }
  .modal--project-nav-title {
    width: 72px;
    //font-size: 12px;
    //@include mixin.font-size(12px);
    @include scss.rfs(12px, font-size);
    text-transform: uppercase;
    line-height: 1.2;
    color: variables.$gray;
    //margin-bottom: 15px;
    @include scss.rfs(15px, margin-bottom);
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    .modal--project-nav-direct {
      display: block;
    }
    &.modal--project-nav-title__next,
    &.modal--project-nav-title__prev {
      visibility: visible;
      opacity: 1;
    }
    &.modal--project-nav-title__next {
      text-align: right;
    }
    &.modal--project-nav-title__prev {
      text-align: left;
    }
  }
  .modal--project-nav-buttons {
    width: 72px;
    line-height: 0.7;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
  }
  .modal--project-btn {
    width: 21px;
    height: 10px;
    padding: 0;
    background-color: #ccc;
    background-position: center;
    border-radius: 0;
    mask-image: url(../img/bg/carousel-nav-arrow.svg);
    mask-repeat: no-repeat;
    mask-position: center;
    font-size: 0;
    &:hover {
      background-color: variables.$orange;
    }
  }
  .modal--project-btn-prev {

  }
  .modal--project-btn-next {
    transform: scaleX(-1);
  }
  .modal--project-bg-1,
  .modal--project-bg-2 {
    border-radius: 50%;
    position: absolute;
    background-color: #FFD6E9;
  }
  .modal--project-bg-1 {
    //width: 1292px;
    //height: 1292px;
    width: 119.63vh;
    aspect-ratio: 1 / 1;
    //top: -159px;
    //left: -207px;
    top: -14.72vh;
    left: -14.78vw;
    opacity: 0.5;
    z-index: -2;
    animation-name: modal-project-bg;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
  }
  .modal--project-bg-2 {
    //width: 1101px;
    //height: 1101px;
    width: 101.94vh;
    //height: 1101px;
    aspect-ratio: 1 / 1;
    //left: -263px;
    //top: -119px;
    left: -17.7vw;
    top: -11.02vh;
    z-index: -1;
    animation-name: modal-project-bg;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
  }
}

@keyframes header-menu-fall {
  0% {
    transform: rotateY(-25deg);
  }
  25% {
    transform: translateY(2%) rotateY(25deg);
  }
  50% {
    transform: rotateY(-25deg);
  }
  75% {
    transform: translateY(4%) rotateY(25deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}
@keyframes home-bg-element-1 {
  0% {
    transform: rotateY(-25deg);
  }
  25% {
    transform: translate(2%, 7%) rotateY(25deg);
  }
  50% {
    transform: rotateY(-25deg);
  }
  75% {
    transform: translate(7%, 3%) rotateY(25deg);
  }
  100% {
    transform: rotateY(-25deg);
  }
}
@keyframes home-bg-element-2 {
  0% {
    transform: translate(-8vw, 0) scale(0.7);
  }
  100% {
    transform: translate(-4.27vw, 35.56vh) scale(1);
  }
}
@keyframes home-bg-element-3 {
    0% {
      transform: translate(0) scale(1);
      animation-timing-function: ease-out;
    }
    25% {
      transform: translate(2%, -7%) scale(0.8) rotate(45deg);
      animation-timing-function: ease-in;
    }
    50% {
      transform: translate(5%, 10%) scale(0.5) rotate(-90deg);
      animation-timing-function: ease-out;
    }
    75% {
      transform: translate(4%, 4%) scale(0.6) rotate(45deg);
      animation-timing-function: ease-out;
    }
    90% {
      transform: translate(2%, 2%) scale(0.8);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translate(0) scale(1);
      animation-timing-function: ease-out;
    }
}
@keyframes home-bg-element-4 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(50%);
  }
  24% {
    opacity: 0.2;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(40%);
    opacity: 0.4;
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(30%);
    opacity: 0.6;
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(20%);
    opacity: 0.8;
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(10%);
    opacity: 0.9;
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes home-bg-element-5 {
  0%{
    width: 0;
    height: 0;
    transform: rotate(180deg);
  }
  100%{
    height: 19.02vh;
    width: 19.02vh;
    transform: rotate(0);
  }
}
@keyframes about-bg-element-1 {
  0%, 100% {
    transform: translateY(0);
  }
  25%, 75% {
    transform: translateY(-8%);
  }
  50%{
    transform: translateY(8%);
  }
}
@keyframes about-bg-element-2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translate(50%, 50%);
  }
  24% {
    opacity: 0.2;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translate(40%, 40%);
    opacity: 0.4;
  }
  65% {
    animation-timing-function: ease-in;
    transform: translate(30%, 30%);
    opacity: 0.6;
  }
  82% {
    animation-timing-function: ease-in;
    transform: translate(20%, 20%);
    opacity: 0.8;
  }
  93% {
    animation-timing-function: ease-in;
    transform: translate(10%, 10%);
    opacity: 0.9;
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes about-bg-element-3 {
  0%{
    transform: translate(-30vw, 20vh) scale(0);
  }
  100%{
    transform: translate(0) scale(1);
  }
}
@keyframes about-bg-element-4 {
  0%, 100% {
    transform: translate(0) scale(1) rotate(0);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translate(200px, -250px) scale(0.5) rotate(180deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate(50px, -150) scale(0.7) rotate(90deg);
    animation-timing-function: ease-in;
  }
  75% {
    transform: translate(-200px, -75px) scale(0.5) rotate(90deg);
    animation-timing-function: ease-out;
  }
}
@keyframes animate-svg-stroke {
  0% {
    transform: translate(0) scale(1) rotate(3deg);
    animation-timing-function: ease-out;
  }
  25% {
    transform: translate(-10vw) scale(1.3) rotate(-3deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: translate(-30vw) scale(1.5) rotate(5deg);
    animation-timing-function: ease-out;
  }
  75% {
    transform: translate(-10vw) scale(1.2) rotate(-5deg);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translate(0) scale(1.1) rotate(1deg);
    animation-timing-function: ease-out;
  }
}
@keyframes modal-fade-in {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes modal-fade-out {
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
  }
}
@keyframes modal-bg-element-1 {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(117vh) rotate(720deg);
    opacity: 0;
  }
}
@keyframes modal-bg-element-4 {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50%{
    transform: translateY(-100vh) rotate(720deg);
    opacity: 0.5;
  }
  100%{
    transform: translateY(0) rotate(720deg);
    opacity: 1;
  }
}
@keyframes modal-bg-element-5 {
  0%{
    transform: translate(0,0) rotate(0deg);
  }
  25%{
    transform: translate(6.93vw,-14.67vh) rotate(360deg) scale(1.2);
  }
  50%{
    transform: translate(-1.07vw,-8.67vh) rotate(720deg) scale(0.8);
  }
  100%{
    transform: translate(0,0) rotate(360deg) scale(1);
  }
}
@keyframes modal-project-bg{
  0%{
    transform: scale(0.8);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(0.8);
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(16px)
  }
}

@include meta.load-css("media");

@include meta.load-css("fonts/font_poppins");

@include meta.load-css("import/base64");
@include meta.load-css("import/print");
