/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;

  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  &:after,
  &:before {
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
summary {
  display: list-item;
}
html,
body {
  height: 100%;
}
html,
body,
button {
  font-smoothing: antialiased;
}
html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($black, 0);

  position: relative;

  width: 100%;
  margin: 0;

  overscroll-behavior: none;
}
ol,
ul {
  list-style: none;
}
dd,
ol,
ul {
  padding: 0;
}
p {
  hyphens: auto;
}
blockquote,
q {
  margin: 0;

  quotes: none;
  &:before,
  &:after {
    content: '';
    content: none;
  }
}
a {
  background-color: transparent;
  &:focus {
    outline: 0;
  }
  &:focus,
  &:active,
  &:hover {
    outline: 0;
  }
}
b,
strong {
  font-weight: bolder;
}
pre {
  white-space: pre;
  font-family: monospace, monospace;
  font-size: 1em;
  word-wrap: break-word;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;

  margin: 0;

  cursor: pointer;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  white-space: revert;
  resize: vertical;
  vertical-align: top;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
input {
  overflow: visible;
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    cursor: pointer;

    -webkit-appearance: button;
  }
  &[disabled] {
    cursor: default;
  }
  &[type='checkbox'],
  &[type='radio'] {
    padding: 0;
  }
  &[type='search'] {
    box-sizing: content-box;
    -webkit-appearance: textfield;
    outline-offset: -2px;
    &::-webkit-search-cancel-button,
    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      height: auto;
    }
  }
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
  td,
  th {
    padding: 0;
  }
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
dfn {
  font-style: italic;
}
mark {
  color: #000000;
  background-color: #ffff00;
}
audio,
canvas,
video {
  display: inline-block;

  *zoom: 1;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio:not([controls]) {
  display: none;

  height: 0;
}
:where([hidden]),
template {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
abbr[title],
acronym[title],
dfn {
  cursor: help;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Remove list styles (bullets/numbers) */
nav {
  menu,
  ul,
  ol {
    list-style: none;
  }
}
img {
  font-style: italic;

  width: auto; /* IE8 */
  max-width: 100%;
  height: auto;

  vertical-align: middle;

  -ms-interpolation-mode: bicubic;
  border: 0;
}
svg {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
figure,
form {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}
legend {
  padding: 0;

  white-space: normal;

  border: 0;

  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;

}
progress {
  vertical-align: baseline;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

.clearfix {
  *zoom: 1;
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}
.clear {
  clear: both;
}
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}
::selection {
  color: #000000;
  background: #fbd404;
}
video,
audio {
  max-width: 100%;
  height: auto;
}
a[href^='tel'] {
  white-space: nowrap;
  text-decoration: none;

  color: inherit;
}
@media (max-width: 30em) {
  a[href^='tel'] {
    text-decoration: underline;
    pointer-events: auto;
  }
}
